
<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta%></p>
  <input type="text" name="respuesta" placeholder="Responda aquí..."f">
  <input type="submit" value="Enviar">
  <br />
  <p><a href="/quizes">Volver a preguntas</a></p>
</form>